<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce Site</title>
  </head>
  <body>
    <h1>Hello World! to Online Store</h1>
    <div>
      <header>Ecommerce Site</header>
      <aside>Shopping Categories</aside>
      <main>
        <ul>
          <li>Laptops</li>
          <li>PCs</li>
          <li>Mobiles</li>
          <li>Tablets</li>
        </ul>
      </main>
    </div>
  </body>
</html>
